
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: grey;
  color: #000000;
}

.resume {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #53595f;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-pic {
  width: 100px;          
  height: 100px;         
  border-radius: 50%;    
  margin-bottom: 10px;
  object-fit: cover;     
  border: 2px solid #393e44; 
}

.left-column h2 {
  font-size: 1.2rem;
  color: #3c4044;
  margin-bottom: 10px;
}

.left-column ul {
  list-style: none;
  padding: 0;
}

.left-column ul li {
  margin: 5px 0;
}

.left-column a {
  color: #4c5055;
  text-decoration: none;
}

.left-column a:hover {
  text-decoration: underline;
}

.right-column h2 {
  font-size: 1.5rem;
  color: #4e4f50;
  margin-bottom: 10px;
  border-bottom: 2px solid #4f5255;
  display: inline-block;
}

.right-column ul {
  list-style: none;
  padding: 0;
}

.right-column ul li {
  margin: 5px 0;
}


.right-column a {
  color: #4c5055;
  text-decoration: none;
}

.right-column a:hover {
  text-decoration: underline;
}

.right-column > div {
  margin-bottom: 30px; 
}